<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ituns.android.provider">
    <application>
        <provider
            android:name="org.ituns.android.provider.iTunsProvider"
            android:authorities="org.ituns.android.provider.${applicationId}"
            android:exported="false" />
    </application>
</manifest>
